*{
    padding: 0%;
    margin: 0%;
}
img {
	max-width: 100%;
}
body {
    font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
}
/* header */
.header {
    background-color: black;
}
.header .header-lists ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    list-style: none;
    width: 75%;
    margin: 0 auto;
}
.header .header-lists  ul li a{
    opacity: 0.65;
}

.header ul img {
    width: 18px;
}
.header .header-lists  ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.65;
}
.header .header-lists ul a:hover{
    opacity: 1;
}
/* header ends */
/* section-1 */
.First-section{
    text-align: center;
    background: #fafafa;
}
.First-section ul{
    list-style: none;
    padding: 20px;
}
.model{
    font-size: 20px;
    padding: 30px;
}
.MacBook{
    font-size: 30px;
    font-weight: 600;
    margin: 0%;
    padding: 20px;
}
.list-wraper ul li{
    display: inline-block;
    padding: 20px;
}
.list-wraper ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.list-wraper ul li a:hover{
    color: black;
}
.list-wraper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 20px;
    content: "\f105";
    padding-left: 10px;
}
/* section-1 ends */
/* section-2 */
.Second-section{
    background-image: url(../images/home/iphone11-pro-bg.jpg);
    
}
.Second-section, .Third-section{
    height: 580px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	text-align: center;
	padding: 65px 20px;
	color: #fff;
}
.title {
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.Second-section .product-discription{
color: white;
}
.product-discription{
    font-size: 30px;
    padding: 10px 0;
}
.price-tag {
    color: #86868b; 
	font-size: 20px;
}
.Second-section .list-wraper ul li a:hover{
    color: white;
}
/* section-2 ends */
/* section-3 */
.Third-section{
    background-image: url("../images/home/iphone11-bg.jpg");
}
.product-discription{
    color: black;
}
.Title {
    color: black;
}
/* section-3 ends*/
/* section-4 */
.watch-card{
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-top: 15px;
}
.watch, .apple-card, .television, .airpod, .mack, .newipad{
    height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 49%;
	padding-top: 54px;
    color: #141414;
}
.watch{
    background-image: url(../images/home/watch-series-5.jpg);
}
.apple-card {
    background-image: url(../images/home/apple-card.jpg);
}
.card-discription {
    max-width: 430px;
	margin: 0 auto;
	padding: 10px; 
}
/* section-4 */
/* section-5 */
.tv-airpod {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-top: 15px;
}
.television {
    background-image:  url("../images/home/apple-tv-background.jpg"); 
}
.tv-log {
    font-size: 40px;
	font-weight: bold;
}
.tv-show-lograpper {
    padding: 180px 0 200px;
}
.watch-more a{
    text-decoration: none;
	font-size: 20px;
}
.watch-more a:after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
    text-decoration: none;
}
.airpod{
    background-image: url(../images/home/air-pods.jpg);
    color: white;
	background-size: initial;
	background-color: #000;
	background-position: bottom;
}
.airpod .product-discription{
    color:#fafafa;
}
/* section-5 */
/* section-6 */
.mack-newipad {
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.mack{
    background-image:  url("../images/home/macbook-pro.jpg"); 
	background-size: initial;
	background-color: #fafafa;
	background-position: bottom;
    margin-top: 15px;
}
.mack div p, .mack div ul li {
    margin: 0%;
}
.newipad {
    background-image:  url("../images/home/new-ipad.jpg");
    background-size: initial;
	background-color: #fafafa;
    margin-top: 15px;
}
/* section-6 ends */
/* footor */
.footer {
    background:  #f5f5f7;
    color: #0c0c11;
    font-size: 15px;
}
.paragraph {
    text-align: justify;
    border-bottom: 2px solid #d2d2d7;
    color: #86868b;
    padding: 17px 100px;
    margin: 0 70px;
}
.paragraph a{
    text-decoration: none;
	color: #61618b;
}
.links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}
.links-wrapper ul{
    list-style: none;
    padding-bottom: 20px;
}
.links-wrapper ul li{
    font-size: 15px;
    padding: 5px 0;
}
.links-wrapper a{
    text-decoration: none;
    color: #515154;
}
.links-wrapper a:hover {
    text-decoration: underline;
}
.links-wrapper h3 {
    font-size: 14px;
    font-weight: 800;
}
.my-apple {
    border-bottom: 1px solid #d2d2d7;
	padding-bottom: 10px;
	margin: 0 0 10px 150px; 
}
.copyright-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px;
    margin: 0 0 10px 150px;
}
.footer-link-terms ul li{
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 5px;
}
.footer-link-terms ul li a{
    text-decoration: none;
	color: #515154;
}
.footer-link-terms a:hover{
    text-decoration: underline;
}
.footer-nation{
    display: flex;
    margin-right: 80px;
}
