* {
  padding: 0%;
  margin: 0%;
}
img {
  max-width: 100%;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
/* header */
.header {
  background-color: black;
}
.header .header-lists ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  list-style: none;
  width: 75%;
  margin: 0 auto;
}
.header .header-lists ul li a {
  opacity: 0.65;
}

.header ul img {
  width: 18px;
}
.header .header-lists ul a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.65;
}
.header .header-lists ul a:hover {
  opacity: 1;
}
/* header ends */

/* section1 start */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
.general {
  text-align: center;
}
.model {
  padding-top: 20px;
}

.banner {
  height: 710px;
  background-position: bottom;
  background-size: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 25px 0;
}
.links ul {
  /* list-style: none; */
  text-decoration: none;
}
.links a::after {
  content: "\f105";
  font-family: "fontawesome";
  padding: 5px;
  font-weight: 700;
}

.links ul li {
  display: inline-block;
  padding: 12px;
}
.product-title {
  font-size: 54px;
  font-weight: 700;
  padding-top: 10px;
}
.links a:hover {
  color: black;
  opacity: 1;
}
.links ul li a {
  color: rgb(60, 131, 212);
}
.description {
  font-size: 46px;
}
/* section1 end */

/*fivth section page start here */
.fivth-Section-page {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.fivth-Section-page .wrapper-left-side-wrapper {
  background-image: url("../images/home/apple-tv-background.jpg");
}
.fivth-Section-page .wrapper-right-side-wrapper {
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
}
.wrapper-wrapper-logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}
.wrapper-tv-logo-wraper {
  padding: 180px 0 200px;
}
.wrapper-watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}
.wrapper-watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
/* fivth section page end */

/*Six Section start here*/
.six-Section-page {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.six-Section-page .wrapper-left-side-wrapper {
  background-image: url("../images/home/macbook-pro.jpg");
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;
}
.six-Section-page .wrapper-right-side-wrapper {
  background-image: url("../images/home/new-ipad.jpg");
}
.six-Section-page-product-title-small {
  font-weight: 700;
  font-size: 45px;
}
/* six section page end */